<launch>
  <arg name="x" default="0.3"/>
  <arg name="y" default="0.0"/>
  <node pkg="chibi18_control" name="set_target" type="set_target">
    <param name="X" value="3.0"/>
    <param name="Y" value="0.0"/>
  </node>

  <node pkg="chibi18_control" name="local_planner" type="local_planner">
    <param name="ALPHA" value="0.045"/>
    <param name="BETA" value="1.00"/>
    <param name="GAMMA" value="1.8"/>
  </node>

  <node pkg="chibi18_control" name="changer" type="changer"/>

  <node pkg="chibi18_control" name="laser_link" type="laser_link"/>

  <arg name="distance" default="0.5"/>
  <node pkg="chibi18_control" name="stopper" type="stopper">
    <param name="DISTANCE" value="0.7"/> 
  </node>

  <include file="$(find chibi18_control)/launch/basis.launch"/>

</launch>

