<launch>
  <arg name="x" default="4.0"/>
  <arg name="y" default="0.0"/>
  <arg name="yaw" default="1.57"/>
  <node pkg="chibi18_control" name="set_target" type="set_target">
    <param name="X" value="$(arg x)"/>
    <param name="Y" value="$(arg y)"/>
    <param name="YAW" value="$(arg yaw)"/>
  </node>

  <include file="$(find chibi18_control)/launch/local_planner.launch"/>

  <arg name="distance" default="0.5"/>
  <node pkg="chibi18_control" name="stopper" type="stopper">
    <param name="DISTANCE" value="0.7"/> 
  </node>

  <include file="$(find chibi18_control)/launch/basis.launch"/>

</launch>

