<launch>

  <param name="use_sim_time" value="true"/>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: odom
      base_frame: base_link
      map_frame: map
      particles: 100
      map_update_interval: 2.0
      linearUpdate: 0.25
      angularUpdate: 0.3
      maxUrange: 6.0
    </rosparam>  
  </node>

</launch>
