<launch>
   
   <arg name="PARTICLE_N" default="30"/>
   <arg name="POSITION_SIGMA" default="1000.0"/>
   <arg name="ORIENTATION_SIGMA" default="0.3"/>
   <arg name="_INIT_X_COVARIANCE" default="0.5"/>
   <arg name="_INIT_Y_COVARIANCE" default="0.5"/>
   <arg name="_INIT_YAW_COVARIANCE" default="0.2"/>
   <arg name="_INIT_X" default="-1.2"/>
   <arg name="_INIT_Y" default="0"/>
   <arg name="_INIT_YAW" default="0.0"/>
   <arg name="ODOM_XY_NOISE" default="0.02"/>
   <arg name="ODOM_YAW_NOISE" default="0.10"/>
   <arg name="RANGE_MAX" default="6.0"/>
   <arg name="MATCHING_STEP" default="12"/>

  <node pkg="chibi18_control" name="localizer" type="localizer" output="screen">
    <param name="N" value="$(arg PARTICLE_N)"/>
    <param name="POSITION_SIGMA" value="$(arg POSITION_SIGMA)"/>
    <param name="ORIENTATION_SIGMA" value="$(arg ORIENTATION_SIGMA)"/>
    <param name="INIT_X_COVARIANCE" value="$(arg _INIT_X_COVARIANCE)"/>
    <param name="INIT_Y_COVARIANCE" value="$(arg _INIT_Y_COVARIANCE)"/>
    <param name="INIT_YAW_COVARIANCE" value="$(arg _INIT_YAW_COVARIANCE)"/>
    <param name="INIT_X" value="$(arg _INIT_X)"/>
    <param name="INIT_Y" value="$(arg _INIT_Y)"/>
    <param name="INIT_YAW" value="$(arg _INIT_YAW)"/>
    <param name="ODOM_XY_NOISE" value="$(arg ODOM_XY_NOISE)"/>
    <param name="ODOM_YAW_NOISE" value="$(arg ODOM_YAW_NOISE)"/>
    <param name="RANGE_MAX" value="$(arg RANGE_MAX)"/>
    <param name="MATCHING_STEP" value="$(arg MATCHING_STEP)"/>
  </node>

</launch>
