<launch>

  <node pkg="roomba_500driver_meiji" name="main500" type="main500"/>
  <node pkg="roomba_teleop_meiji" name="electoric_joystick_drive" type="electric_joystick_drive"/>
  <node pkg="joy" name="joy_node" type="joy_node">
    <param name="dev" value="/dev/input/js2"/>
  </node>
  <node pkg="hokuyo_node" name="hokuyo_node" type="hokuyo_node"/>
  <node pkg="chibi18_control" name="laser_link" type="laser_link"/>
  
</launch>
