<launch>

   <include file="$(find chibi18_control)/launch/basis.launch"/>

  <include file="$(find chibi18_control)/launch/local_planner.launch"/>

  <include file="$(find chibi18_control)/launch/localizer.launch"/>

  <include file="$(find chibi18_control)/launch/global_planner.launch"/>

  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
